@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w{
  @apply max-w-screen-xl mx-auto;
}

.hero{
  width: 100%;
  height: 90vh;
  background: linear-gradient(to left, #0000005d, #000000), url('src/assets/images/banner/5.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}
